/* Add these styles at the end of your existing CSS file */

.animal-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff; /* Default background color for the container */
    transition: background-color 0.4s; /* Add transition for smooth color changes */
  }
  
  .animal-card {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: url('../icons/default-cursor.svg'), auto;
    text-decoration: none;
    color: inherit;
  }
  
  /* ... existing styles ... */
  
  /* Dark mode styles */
  .app-container.dark .animal-list-container {
    background-color: #333; /* Dark gray background color for the container when dark mode is active */
  }
  
  .app-container.dark .animal-card {
    background-color: #fff; /* White background color for the cards when dark mode is active */
    color: #333; /* Dark text color for the cards when dark mode is active */
  }
  
  /* ... existing styles ... */
  